<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Carbón</name>

    <description>
        Permite medir y trackear la huella de carbono originada por el uso de vehículos no sostenibles.
    </description>

    <author href="https://spon.com" email="support@spon.com">
        Nicolás Baglivo.
        Federico Costa.
    </author>

    <gap:platform name="android" />

    <icon src="icon.png" />

</widget>
